.footer {
  background-color: #9733ee;
  font-size: 12px;
}
.how-to-cross-a-piranha-infested-river .footer {
  background-color: #F09819;
}

.how-to-date-the-coolest-guygirl-in-school .footer {
  background-color: #0ABFBC;
}

.three-little-pigs .footer {
  background-color: #696969;
}

.footer__wrap {
  max-width: 950px;
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.footer__site a {
  text-decoration: none;
  color: white;
  transition: 200ms;
}

.footer__site a:hover {
  color: rgb(39, 188, 78);
}