.mad-giphy-output {
  line-height: 150px
}

.mad-giphy-output__image {
  display: inline-block;
  transform: translateY(65px);
}

.mad-giphy-output__image img {
  height: 130px;
  border: 2px solid white;
}